
body{
    background-image: linear-gradient(180deg, aqua, white);
    font: normal 15px Arial;
    height: 97vh;
}
h1{
    color: white;
    text-align: center;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.42);
}
section{
    display: grid;
    grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr);
    grid-template-rows: minmax(120px, 1fr) minmax(120px, 1fr);
    background-image: linear-gradient(180deg, white, aqua);
    border-radius: 100%;
    padding: 15px;
    width: 90vb;
    /*max-width: 800px;
    /*max-height: 800px;*/
    /*min-width: 240px;
    /*min-height: 240px;*/
    height: 90vh;
    margin: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.274);

}
.cor{
    display: flex;
    margin: 0px;
    height: 45vh;/*400px;*/
    min-height: 120px;
}
#cor0{
    background-image: linear-gradient(270deg, green, rgb(0, 204, 0));
    border-radius: 100% 0 0 0;
}
#cor1{
    background-image: linear-gradient(270deg, rgb(140, 1, 1), red);
    border-radius: 0 100% 0 0;
}
#cor2{
    background-image: linear-gradient(270deg, rgb(149, 149, 0), yellow);
    border-radius: 0 0 0 100%;
}
#cor3{
    background-image: linear-gradient(270deg, rgb(0, 0, 255), rgb(132, 126, 255));
    border-radius: 0 0 100% 0;
}
#centro{
    position: absolute;
    top: 25%;
    left: 38%;
    /*transform: translate(-50%, -55%);
    /*padding: 5px;*/
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image: linear-gradient(180deg, white, aqua);
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.385);
}
#jogo{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer{
    text-align: center;
    font-style: italic;
}